@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100, 400, 500,700&display=swap');

body{
	margin: 0;
	background: linear-gradient(355deg, rgba(224,246,117,1) 0%, rgba(74,144,228,1) 50%, rgba(81,72,242,1) 100%);;
	font-family: 'Noto Sans JP', sans-serif;
}


header {
	color: black;
	width: 100%;
	height: 325px;
	background: url(HeaderPic.jpg);
  	background-position: center;
	background-size: cover;
  	text-align: center;
  	align-items: center;
  	font-family:'DotGothic16', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 6px black solid;
	display: flex;
	flex-direction: column;
}

#artist-credit {
	text-align: right;
	margin: 10px;
	font-size: 26px;
	letter-spacing: 1px;
	color: white;
}

#main-heading, #main-heading-jp {
	font-family: Calisto MT,Bookman Old Style,Bookman,Goudy Old Style,Garamond,Hoefler Text,Bitstream Charter,Georgia,serif; 
	font-size: 50px;
	width: 100%;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: mediumorchid;
  	-webkit-text-stroke: 2px gold;
}

#main-heading-jp {
	letter-spacing: 20px;
}

.about-info {
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 90%;
	margin: 20px auto;
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
	color: white;
}

.about-info p {
	margin: 0 0 20px;
	font-size: 14px;
}
/*---------------------SEARCH CONTAINER-------------------------------*/

.search-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
	text-align: center;
}

#searchBar {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 40px;
}

#searchBarButton {
	width: 200px;
	height: 50px;
	margin: 10px;
	background-color: yellow;
	border-radius: 20px;
	font-size: 30px;
	font-weight: bold;
	border: none;
}

#searchBarTitle {
	font-size: 50px;
	margin: 20px 0 ;
	color: white;
	
}
/*---------------------SUMODEX-------------------------------*/
#sumodex-section{
	margin: 20px auto;
	width: 100%;
	display: flex;
	justify-content: center;
}

.sumodex-main {
	border: solid darkred 5px;
	background: red;
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.sumodex-content-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90%;
	margin: 20px 0;
}

.sumodex-left-side {
	border-bottom: 3px solid black;
}

.sumodex-left-side, .sumodex-right-side {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
	height: 90%;

}

.wrestlerName{
	border-bottom: solid black 2px; 
	border-left: solid black 2px; 
	border-right: solid black 2px; 
	width: 50%;
	background-color: white;
	color: black;
}

.wrestlerName p {
	margin: 0;
	font-size: 50px;
	text-align: center;
	font-weight: 700;
}


.wrestlerInfo, .wrestlerPic {
	background-color: white;
	border: solid black 2px;
	width: 98%;
	height: 70%;
	overflow: hidden;
	border-radius: 10px;
}

.wrestlerPic {
	margin-top: 40px;
}
.wrestlerInfo {
	margin-top: 30px;
}

.wrestlerInfo p{
	margin: 0 10px;
	font-size: 35px;
}

.wrestlerPic img {
	object-fit: fill;
	width: 100%;
}

.picture-buttons, .info-buttons {
	display: flex;
	justify-content: center;

}

.picture-buttons button, .info-buttons button {
	margin: 40px 20px;
	width: 300px;
	height: 70px;
	background: rgb(33, 147, 240); ;
	border-radius: 20px;
	color: white;
	font-family: 'Noto Sans JP', sans-serif;
	letter-spacing: .4px;
	font-size: 30px;
}
	
/*---------------------ACCORDION-------------------------------*/
	
.accordion {
	background-color: #ffb01d;
	color: black;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	font-size: 55px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  }

  .accordion:first-ch5ild {
	margin-top: 30px;
  }

  .active, .accordion:hover {
	background-color: #f5cc80;
  }
  
  .panel {
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  }

  .panel img {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .accordion:after {
	content: '\002B'; /* Unicode character for "plus" sign (+) */
	font-size: 60px;
	color: black;
	float: right;
	margin-left: 5px;
  }
  
  .active:after {
	content: "\02212"; /* Unicode character for "minus" sign (-) */
  }

  .tournament-container {
	background: linear-gradient(171deg, rgba(165,0,0,1) 0%, rgba(15,30,124,1) 64%, rgba(0,165,10,1) 100%);
	color: white;
  }

  .tournament-container a {
	  color: white;
  }

  .sumo-ruleset-container {
	background: linear-gradient(171deg, rgba(0,165,10,1) 0%, rgba(15,19,124,1) 44%, rgba(116,0,134,1) 100%);
	color: white;
  }

  .sumo-ruleset-container img{
	width: 100%;
  }

  .sumo-history-container {
	background: linear-gradient(31deg, rgba(235,3,3,1) 0%, rgba(15,19,124,1) 45%, rgba(116,0,134,1) 100%);
	color: white;
  }

  .sumo-history-container img {
	  margin: 70px 0 0;
	  width: 100%;
  }
  

/*---------------------TOURNAMENT ----------------------------------*/

.tournament-container table {
	font-size: 35px;
	text-align: left;
	color: white;
}

#recent-tournaments-table {
	width: 100%;
	font-size: 40px;
	text-align: left;
}

#recent-tournaments-table th:nth-child(1){
	width: 150px;
}

tr:nth-child(even) {
	background: rgba(63, 63, 63, 0.603)
}



/*---------------------FOOTER-------------------------------*/

footer {
	font-size: 50px;
	text-align: center;
	height: 100px;
	display: flex;
	justify-content:center;
	align-items: center;
}

footer a{
	color: black;
}

/*---------------------MEDIA QUERIES------------------------------*/




@media (min-width: 1024px){

	#artist-credit {
		font-size: 14px;
	}
	

	#searchBarTitle {
		font-size: 30px;
		color: red;
	}

	#searchBar {
		font-size: 20px;
	}

	#searchBarButton {
		font-size: 20px;
		height: 30px

	}

	.sumodex-main {
		width: 60%;

	}

	.sumodex-left-side {
		border-bottom: 0px;
		border-right: 3px solid black;
	}

	.sumodex-content-container {
		flex-direction: row;
	}


	.info-buttons button, .picture-buttons button {
		width: 100px;
		height: 30px;
		font-size: 14px;
	}

	.wrestlerPic, .wrestlerInfo {
		width: 80%;
	}

	.wrestlerInfo p {
		font-size: 16px;
	}
	.accordion {
		font-size: 20px;
		height: 60px;
		align-self: center;
	}

	.accordion::after {
		font-size: 30px;
	
	}
	
	.tournament-container table tr:first-child {
		text-decoration: underline;
	}

	.tournament-container table, #recent-tournaments-table {
		font-size: 16px;
		width: 100%;
	}

	.panel p {
		margin: 0;
		font-size: 20px;
	}

	.panel p:first-child {
		margin: 15px 0 0;
	}

	.allowances-disqualifications-container {
		display: flex;
		justify-content: space-evenly;
	}

	.sumo-history-container p:last-child {
		margin-bottom: 15px;
	}

	footer {
		font-size: 20px;
	}
}